@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'GT';
    src:  url('fonts/GT-America-Standard-Regular-Trial.woff2') format('woff2');
  }
@font-face {
    font-family: 'GT';
    src:  url('fonts/GT-America-Standard-Regular-Trial.woff2') format('woff2') format('woff2-variations');
    src: url('fonts/GT-America-Standard-Bold-Trial.woff2') format('woff2'); 
    font-weight: 800; 
    font-style: bold; 
  }
@font-face {
    font-family: 'GT';
    src:  url('fonts/GT-America-Standard-Regular-Trial.woff2') format('woff2') format('woff2-variations');
    src: url('fonts/GT-America-Standard-Light-Trial.woff2') format('woff2'); 
    font-weight: 300; 
    font-style: lighter; 
  }

.audiojs {
    width: 12rem !important;
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
}
.scrubber{
    width: 7rem !important;
    background-color: rgb(0, 0, 0) !important;
    border-top: none !important;
    border-radius: 5px !important;
    margin: 15px !important;
    height: 5px !important;
    /* float: none !important; */
}
.loaded{
    background-image: none !important;
    background-color: grey !important;
    height: 5px !important;
}
.progress{
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    border-radius: 0px !important;
}
.time{
    display: none !important;
}
.play{
    filter: invert() !important;
}
.pause{
    filter: invert() !important;
}
.play-pause{
    width: 2.5rem !important;
    border-right: none !important;
}
.no-text-decor{
    text-decoration: none !important;
}
.footer{
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#footer-container{
    bottom: -350px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.text-outline-black{
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.text-outline-white{
    -webkit-text-stroke-width: .09rem;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}
.btn-no-style{
    border: none;
    background: transparent;
}
.bg-white{
    background-color: white;
}
b{
    font-weight: bold !important;
}
#big-song-info{
    z-index: 2 !important;
}
#fav-song-btn{
    vertical-align: middle !important;
}
.lyrics-link{
    margin-right: 15px !important;
}
#artist-img{
    position: absolute;
    z-index: -1;
    opacity: .5;
    left: 0px;
    animation: filter-animation 10s infinite;
}
@keyframes filter-animation {
    0% {
      filter: blur(2.5px) contrast(1) saturate(2);
    }
  
    50% {
      filter: blur(4px) contrast(3) saturate(5);
    }
  
    100% {
      filter: blur(3px) contrast(1) saturate(2);
    }
  }
#artist-name{
    font-size: 5rem !important;
}
body {
    background-color: #ff0000 !important;
    color: #ffffff;
}
.card-text:last-child {
    margin-bottom: 0;
    color: #fffefe !important;
}
.logo {
    font-family: 'GT' !important;
    font-weight: bold !important;
    color: black !important;
}
body{
    font-family: 'GT' !important;
}