{% extends 'base.html' %}

{% block content %}
    <form action="/search" class="mx-auto col-md-6 mt-5">
        <h1 class="display-1 logo">Phonia</h1>
        <input type="text" name="term" placeholder="What music are you looking for?" class="form-control form-control-lg rounded-3 d-inline w-75" id="search-input">
        <button class="fas fa-search border-0 bg-transparent mx-1 my-2 fs-5"></button>
        <label class="form-text text-muted d-block" for="search-input">Find songs by using keywords: genres, song titles, and artists.
            <a class="text-dark text-muted" href="#search-form" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="search-form">
                Or search with a form.
            </a>
        </label>
    </form>
    <div class="collapse" id="search-form">
        <form action="/search" class="mx-auto col-md-3 my-5">
            <label for="artist-input" class="form-text text-muted d-block">Artist: </label>
                <input type="text" class="form-control form-control-sm w-50 my-1" name="artist" id="artist-input">
            <label for="genre-select" class="form-text d-block text-muted">Genre: </label>
                <select name="genre" class="form-control form-control-sm form-select form-select-sm w-50 my-1" id="genre-select">
                    {% for genre in genres %}
                        <option value="{{genre}}" class="text-dark">{{genre}}</option>
                    {% endfor %}
                </select>
            <label for="number-input" class="form-text d-block text-muted">Year: </label>
                <input type="number" name="year" class="form-control form-control-sm text-muted w-50 my-1" min="1" max="3000" id="number-input">
            <button class="btn btn-sm btn-outline-dark mx-auto my-3">Search with form.</button>
        </form>
    </div>
    {% if g.user %}
        {% with songs = g.user.last_played_songs() %}
            {% if songs %}
                <h4 class="lead mx-5 fs-3 my-3">Last played songs:</h1>
                <div class="container-fluid mx-auto my-5">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 rounded-1 w-75 mx-auto" id="home-songs-container">
                        {% with isJSON = False %}
                            {% for song in songs %}
                                {% include 'song-card.html' %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    {% endif %}
    {% if songs %}
        <h4 class="lead mx-5 fs-3 my-3">Global Top <b class="text-dark">20</b>:</h1>
        <div class="container-fluid mx-auto my-5">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4 rounded-1 w-75 mx-auto" id="home-songs-container">
                {% with songs = songs.tracks %}
                    {% for song in songs %}
                        {% include 'song-card.html' %}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endblock %}