<li class="list-group-item border-0">
    <a href="/songs/{{song.key}}" class="no-text-decor text-dark">
    {% if song.get("images") %}
        <img src="{{ song.images.coverarthq }}" height="200" width="200" alt="{{song.title}}">
    {% elif song.get("image") %}
        <img src="{{ song.image }}"height="200" width="200" alt="{{song.title}}">
    {% else %}
        <p>Not found :(</p>
    {% endif %}

    <div class="card-body">
        <h5 class="lead fs-4">{{ song.title }}</h5>
    </a>
        <p class="card-text">By {{ song.subtitle }}</p>
        {% if g.user %}
            <button class="far fa-star border-0 bg-transparent d-inline my-0 p-1" id="fav-song-btn" data-song-id="{{ song.key }}"></button>
        {% endif %}
    </div>
    <div class="card-footer mx-auto">
        <small>
            {% if song.hub.get('actions') %}
                <audio src="{{song.hub.actions[1].uri}}" preload="true"></audio>
            {% else %}
                <p class="lead">Sorry, no preview available</p>
            {% endif %}
        </small>
    </div>
</li>